.header{
    height: 200px;
    width: 100%;
    background-color: black;
    border: solid red 1px;
    display: grid;
    grid-template-columns: 101px auto;
    flex: 100%;
}
.pictureDiv{
    grid-column: 1;
    align-items: left;
    height: 200px;
    width: 135.57px;
}
.profile{
    height: 50%;
    width: 50%;
}